/* BUGFIX: we cannot have multiple counter-resets on the code. So this command was moved to
           src/static/custom/pad.css with the other counter-resets, so we ensure all counters
           are correctly created and reset.
body{
  counter-reset: scene;
}
*/

heading {
  background-color: #F9F9F9; /* $COLOR_249 */
}
heading:before {
  float: left;
  text-align: left;
  display: block;
  width: 40px;
  margin-left: -64px; /*aligned with scene mark vertical bottom border*/

  /*make the number below the act/seq icon*/
  position: relative;
  z-index: 0;
}
/* [perf] do not build scene number while on paste */
#innerdocbody:not(.pasting) heading:before {
  /* scene numbering: */
  counter-increment: scene;
  content: counter(scene) " ";
}

/* avoid displaying empty parenthetical split in two lines */
parenthetical br {
  content: "";
}

/* [perf] do not build parenthesis while on paste */
#innerdocbody:not(.pasting) parenthetical:before {
  content: '(';
  margin-left: -6px;
}
#innerdocbody:not(.pasting) parenthetical:after {
  content: ')';
  margin-right: -6px;
}

transition {
  text-align: right;
}

heading, character, transition, shot {
  text-transform: uppercase;
}

heading, action, character, parenthetical, dialogue, transition, shot {
  display: block;
}

/* hack to force display the element without losing the default font
   when it is pasted with ctrl+shift+v */
#innerdocbody div {
  font-family: courier, monospace;
}

/* Dimensions of script elements*/
action {
  margin-top: 16px;
}

character {
  width: 38ch;
  margin: auto;
  margin-top: 16px;
}

parenthetical {
  width: 26ch;
  margin: auto;
}

dialogue {
  width: 35ch;
  margin: auto;
}

transition {
  width: 16ch;
  margin: auto;
  margin-right: 0;
  margin-top: 16px;
}

shot {
  margin-top: 32px;
}
